.container{
    min-width: 100%;
    padding: 4vw;
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
    .container{
        padding-right: 17vw;
        padding-left: 17vw;
    }
}
@media only screen and (min-width: 2000px) {
    .container{
        padding-right: 25vw;
        padding-left: 25vw;
    }
}
header{
    background-color: rgba(248,249,250, 1);
    width: 100%;
    margin-top: 2vh;
}

footer{
    padding-top: 2vh;
    background-color: rgba(39, 189, 119, 0.8);
    width: 100%;
}
footer a{
    color: darkslategray;
    text-decoration: none;
    padding: 1vw;
}
header li{
    position:relative;
}
.nav-item:before {
    content: " ";
    position: absolute;
    border-left: 1px #55655c solid;
    top: 40%;
    left: 0;
    height: 30%;
    margin-top: auto;
    margin-bottom: auto;
}
footer a{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 40px;
}
.copyright{
    position: absolute;
    bottom: 0;
}
.fed{
    font-weight: bold;
}

img {
    padding: 7vh 3vw 3vh 3vw;
    width: 100%;
    height: auto;
}
.top-boarder{
    padding-top:2vw;
    border-top: 2px solid darkgreen;
}
