<footer th:fragment="footer">
    <div class="row">
        <div class="col-md-4 float-left" style="font-size: small; margin-left: 2vw ">
            <p><b> Danmark mod Madspild</b> er en organisation med fokus p&aring; at informere virksomheder og
                privatpersoner om hvordan de kan reducere deres madspild, samt hvilken indflydelse madspild har p&aring;
                milj&oslash;et og klimaet, og hvilke foranstaltninger der kan tages for at sikre os en sundere og mere b&aelig;redygtig
                klode I fremtiden. </p>
            <br>
            <p><i class="fa-solid fa-copyright"></i> Madspild - Whatever... 3.0 - 2022</p>
        </div>
        <div class="col-md-4">
            <a href="#"><i class="fa-solid fa-square-caret-up float-right"></i></a>
        </div>
    </div>

</footer>