<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:include="head :: headerfragment"></head>
<body>
<header th:include="header :: header"></header>
<div class="container">
    <main>
        <div class="col-md-12 float-center "><img src="images/Danmark-mod-madspild.svg" alt="logo" width="10%"
                                                  style="padding-left: 16vw; padding-right: 16vw"></div>
        <div class="row">
            <div class="col-md-6">
                <div style="padding-top: 3vw">
                    <h4>MADSPILD ER NOGET LORT</h4>
                    <p>Madspild er noget lort! Det er noget de fleste blive enige om.
                        I en tid hvor resurserne bliver mindre og mindre og klimaet bliver mere uforudsigeligt, må vi
                        passe på det vi har, og udnytte de resurser vi har, bedst muligt.
                    </p>
                    <p>
                        Unders&oslash;gelser peger p&aring;, at omkring halvdelen af den mad, der ryger i
                        skraldespanden, kunne v&aelig;re
                        spist.
                        Dette har store konsekvenser for både vores miljø og vores klima.
                        Vi kan m&aring;ske ikke rette p&aring; det hele, ved at spise al den mad, der ellers
                        ville v&aelig;re blevet smidt ud. Men vi kan alle gøre vores for at mindske mængden af mad der
                        går til spilde.
                        <br>
                        I <b>Danmark mod Madspild</b> prøver vi at gøre en forskel og vil med denne side forsøge at give
                        nogle enkle råd og tips til hvad du/I selv kan gøre i kampen mod madspild.
                        <br>
                        Vi har samlet nogle gode råd til hvordan du undgå at smide mere end højst nødvendigt ud.
                        <br>
                        Få gode råd til hvad du kan gøre som privatperson <a href="/privat">her</a>
                        <br>
                        Få forslag til hvordan du kan gøre en forskel som virksomhed <a href="/virksomheder">her</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 float-right"><img src="images/Dansk madspild sættes under ekstra lup.foto_.jpg"
                                                   alt="indkøb"></div>
            <div>
                <div class="col-md-12" style="padding-top: 1vw">
                    <h4>Kort om madspild:</h4>
                    <p>
                        Hver dag bliver der smidt betydelige m&aelig;ngder mad ud i de danske husholdninger - det er en
                        historie vi har hørt mange gange.
                        Hvad der ofte bliver overset er, at det største spild sker allerede inden fødevaren ligger i
                        forbrugerens indkøbskurv.
                        <br><br>
                        <b>Store problemer fra produktion til salg.</b>
                        <br>
                        Madspild handler nemlig ikke kun om, hvad der g&aring;r til spilde i husholdningerne.
                        Det handler ogs&aring; om spildet i resten af k&aelig;den, dvs. under dyrkning og produktion,
                        transport, h&aring;ndtering og indpakning i butikkerne, samt tilberedning og servering i
                        restauranterne m.m.
                        Omkring 1/3 grønstager bliver smidt ud, fordi de ikke lever op til de kosmetiske krav, der
                        stilles af detailhandlen, eller pga. overproduktion for at kunne levere nok grøntsager, der
                        lever op til de kosmetiske krav, der stilles.
                        I afsnittet om <a href="#madspildskæden">madspildskæden</a> kan du læse mere om hvad der går
                        til i de forskellige stadier fra produktion og til forbrugerens bord (eller i værste fald
                        skraldespand.)
                        <br>
                    </p>
                    <p style="font-size: smaller">
                        Kilder:
                        <a href="https://www.foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx">foedevarestyrelsen.dk
                            om madspild</a></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 float-left"><img src="/images/verdensmaal-12-cirkel.jpeg" alt="verdensmål"></div>
            <div class="col-md-6" style="padding-top: 3vw">
                <div class="top-boarder">

                    <h3>Mindre madspil - et af FN's Verdensmål</h3>
                    <p>
                        <span style="font-size: smaller">
                            Kilde: FN 17 Verdensm&aring;l, Delpunkt 12 og 12.3 (
                            <a href="https://www.verdensmaalene.dk/maal/12">https://www.verdensmaalene.dk/maal/12</a>
                            )
                            <br>
                        </span>
                        En stor del af verdens befolkning forbruger alt for lidt til at opfylde deres grundl&aelig;ggende
                        behov. En halvering af det globale madspild per indbygger p&aring; forhandler- og
                        forbrugerniveau er vigtigt for at skabe mere effektive produktionsmetoder og forsyningsk&aelig;der.
                        Det kan forbedre f&oslash;devaresikkerheden og skubbe os i retning af en mere ressourceeffektiv
                        &oslash;konomi.
                        Ansvarligt forbrug og produktion er et af 17 verdensm&aring;l, som indg&aring;r i
                        udviklingsdagsordenen for b&aelig;redygtig udvikling frem mod 2030. En integreret tilgang er afg&oslash;rende
                        for fremskridt p&aring; tv&aelig;rs af de forskellige m&aring;l.
                        <br>
                        <span class="fed">
                            Se en komplimenterende video fra FN om:
                            <a href="https://youtu.be/2ojNg2RZmWw"> Verdensmål 12: Ansvarligt forbrug og produktion</a>
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 top-boarder">
                    <div>
                        <a id="madspildskæden"><h3>Madspildsk&aelig;den</h3></a>
                        <p>
                            <span class="fed">Produktion</span>
                            <br>
                            - I den tidlige produktionsfase bidrager samfundets krav til "perfekt" udseende frugt og
                            gr&oslash;ntsager i h&oslash;j grad til de 32% af det globale madspild, der bliver spildt i
                            produktionsleddet (BCG, 2018).
                            <br>
                            <br>
                            <span class="fed">H&aring;ndtering og forarbejdning</span>
                            <br>
                            - P&aring; dette stadie kan h&aring;ndteringsfejl p&aring;virke produkternes kvalitet.
                            Udseende og emballage
                            kan ogs&aring; for&aring;rsage problemer, da f&oslash;devaren skal matche fabrikantens
                            standarder for at kunne
                            s&aelig;lges.
                            <br>
                            Hvis en produktionsmaskine eksempelvis s&aelig;tter en forkert etiket p&aring; et produkt,
                            eller hvis en lagermedarbejder v&aelig;lter en palle og emballagen bliver beskadiget, vil
                            disse
                            produkter ikke l&aelig;ngere v&aelig;re acceptable til salg.
                            <br>
                            <br>
                            <span class="fed">Distribution og detailhandel</span><br>
                            - Det n&aelig;stsidste led kommer, n&aring;r mad transporteres til supermarkeder og
                            butikker, inden det
                            s&aelig;lges derfra til forbrugerne.
                            <br>
                            Her sker spildet, fordi mad har en begr&aelig;nset levetid p&aring; hylderne.
                            <br>
                            Levetiden er dikteret af datom&aelig;rkningen p&aring; produkterne, som b&aring;de kan v&aelig;re
                            inkonsekvent og
                            forvirrende.
                            <br>
                            Et yderligere problem er, at forbrugerne forventer at kunne finde friske f&oslash;devarer
                            som m&aelig;lk,
                            frugt og gr&oslash;ntsager p&aring; hylderne p&aring; alle tidspunkter af dagen. For at f&oslash;lge
                            denne
                            eftersp&oslash;rgsel er &aelig;ldre produkter, der ikke er solgt, i fare for at blive
                            kasseret og
                            erstattet med nyere produkter.
                            <br>
                            Der kan i dette led derudover opst&aring; spild, hvis forretningerne fejlvurderer m&aelig;ngden
                            af
                            indk&oslash;b. Fx forventer et supermarked at s&aelig;lge en masse koldsk&aring;l, n&aring;r
                            det bliver sommer, men
                            hvis sommervejret lader vente p&aring; sig, br&aelig;nder forretningen inde med store m&aelig;ngder
                            koldsk&aring;l,
                            fordi forbrugeren ikke er i det rette sommerhum&oslash;r endnu.
                            Alt det g&oslash;r, at der ogs&aring; i dette led bliver smidt en del spiselig og dejlig mad
                            ud.
                            <br>
                            <br>
                            <span class="fed">Forbrugeren:</span> <br>
                            - Hvis maden kommer gennem alle de &oslash;vrige dele af f&oslash;devarek&aelig;den,
                            ender den hos forbrugeren.
                            <br>
                            Det er her, at vi ser den st&oslash;rste &oslash;konomiske del af madspild. Dette skyldes,
                            at jo l&aelig;ngere i
                            f&oslash;devarek&aelig;den et produkt n&aring;r, f&oslash;r det smides ud, desto flere
                            ressourcer er brugt i
                            produktionen, og jo mere "koster det".
                            <br>
                        </p>
                        <p style="font-size: smaller">
                            Kilde:<a href="https://toogoodtogo.dk/da/movement/education/food-waste-a-global-problem">https://toogoodtogo.dk/da/movement/education/food-waste-a-global-problem</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 float-right"><img src="images/Skærmbillede-2017-07-31-kl.-19.56.30.png"
                                                       alt="cirkeldiagram"></div>
            </div>
        </div>
    </main>
</div>
<footer th:include="footer :: footer"></footer>
</body>
</html>