<!DOCTYPE html>
<html lang="en">
<head th:include="head :: headerfragment"></head>

<body>
<div class="container">
    <header th:include="header :: header"></header>

    <main>
        <h2 class="d-flex justify-content-center">Hvad kan privatpersoner g&oslash;re?:  </h2>
        <div class="row">
            <div class="col-md-6">
                <p class="fed">Som forbruger kan du selv g&oslash;re noget for at undg&aring; madspild (hurtige pointers): </p>
                <ul class="list-group">
                    <li class="list-group-item">Planl&aelig;g dine madindk&oslash;b, og k&oslash;b kun den mad, der er behov for. </li>
                    <li class="list-group-item">Spis lokale produkter, s&aring; skal de ikke holde sig l&aelig;nge under transport. </li>
                    <li class="list-group-item">Bliv bedre til at bruge rester i nye retter,men hold stadig &oslash;je med holdbarheden.</li>
                    <li class="list-group-item">Opbevar maden ved den rigtige temperatur, s&aring; du smider mindre mad ud, der er blevet d&aring;rlig. </li>
                    <li class="list-group-item">K&oslash;l madrester, der skal gemmes, hurtigt ned, eller frys dem evt. i sm&aring; pakker. </li>
                </ul>
                (<a href="https://www.foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx">https://www.foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx</a>)
                <br>
                <p class="fed">Mere dybdeg&aring;ende forklaring for hvad privatpersoner kan g&oslash;re og nogen tal (<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-begraenser-du-madspild-i-husholdningen.aspx">https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-begraenser-du-madspild-i-husholdningen.aspx</a>): </p>
                <ul class="list-group">
                    <li class="list-group-item">Danskerne smider ca. 247.000 ton mad ud om &aring;ret. Til sammenligning er madspildet i detailleddet p&aring; godt 150.000 ton, hvilket is&aelig;r sker indenfor frugt og gr&oslash;nt. Disse produkter bliver ofte sorteret fra alene p&aring; grund af st&oslash;rrelsen, hvilket skyldes eftersp&oslash;rgsel p&aring; bestemte st&oslash;rrelser, fx salathoveder.
                        Vurderinger viser, at danskerne spilder mad for 8,4 milliarder kroner om &aring;ret. Dette tal er uden f&oslash;devarer s&aring;som fisk, sukkervarer og &oslash;vrige ingredienser, hvilket vurderes til at v&aelig;re op mod 1 milliard kroner &aring;rligt, hvoraf halvdelen af spildet sker i danskernes eget hjem. </li>
                    <li class="list-group-item">S&aring; meget smider en familie p&aring; 4 ud &aring;rligt. Tal viser, at en familie p&aring; to voksne og to b&oslash;rn smider mad ud for op mod 10.000 kr. om &aring;ret.
                        Dette svarer til, at omkring 20 procent af familiens samlede madindk&oslash;b ikke bliver spist, eller at hver femte indk&oslash;bsvogn ryger direkte i skraldespanden i stedet for p&aring; middagsbordet. </li>
                    <li class="list-group-item">Hvad kan du selv g&oslash;re? F&oslash;lg de fem r&aring;d og v&aelig;r med til at begr&aelig;nse madspildet:<br>
                        K&oslash;b kun den mad, der er behov for.<br>
                        Opbevar maden korrekt.<br>
                        Tilbered kun den mad, der vil blive spist.<br>
                        Gem madrester og brug dem senere.<br>
                        V&aelig;r opm&aelig;rksom p&aring; holdbarhedsm&aelig;rkningen – ikke alle varer skal i skraldespanden efter udl&oslash;b.</li>
                </ul>

            </div>
            <div class="col-md-6 float-right"><img src="images/1.jpg" alt="Her skal der v&aelig;re et billede"></div>


        </div>
    </main>


</div>
    <footer th:include="footer :: footer"></footer>
</body>
</html>