<!DOCTYPE html>
<html lang="en">
<head th:include="head :: headerfragment"></head>

<body>
<div class="container">
    <header th:include="header :: header"></header>

    <main>
        <h2 class="d-flex justify-content-center" style="padding: 2vw">Hvad kan du gøre som privatperson? </h2>
        <div class="row">
            <div class="col-md-6">
                <p>Det kan virke uoverskueligt som almindelig den enkelte forbruger at skulle bekæmpe madspild. Og måske
                    tænker du at det det du gør ikke ændre noget.
                    Men alt hjælper og du kan gøre en forskel uden den store indsats.
                    Hvis du vil have nogle flere tal på bordet kan du læse mere <a href="#dybere_forklaring">her.</a>
                    <br>
                    Hvis du ikke orker mere i øjeblikket kan du starte med nogle råd til hvordan du begrænser madspil,
                    med fem hurtige råd fra
                    fødevarestyrelsen. </p>
                <p class="fed">5 hurtige råd til dig der gerne vil undgå madspild: </p>
                <ul class="list-group">
                    <li class="list-group-item"> K&oslash;b kun den mad, der er behov for.</li>
                    <li class="list-group-item"> Opbevar maden korrekt.</li>
                    <li class="list-group-item">Tilbered kun den mad, der vil blive spist.</li>
                    <li class="list-group-item"> Gem madrester og brug dem senere.</li>
                    <li class="list-group-item">Vær opmærksom på holdbarhedsmærkningen – ikke alle varer skal i
                        skraldespanden efter udløb
                    </li>
                </ul>
                <div>
                    <p>
                    <h3>Mod på at læse noget mere?</h3>
                    <br>
                    <b> Planl&aelig;g dine madindk&oslash;b, og k&oslash;b kun den mad, der er behov for.</b>
                    <br> - Selv hvis du hører til dem der ikke orker at lave en madplan, så start med at lave en
                    indkøbsliste når du skal handle (og holde dig til den)
                    på den måde udgår du at købe noget du allerede har derhjemme.
                    <br>- Lad dig ikke friste af mængde tilbud hvis det ikke er noget du ved bliver spist.
                    Tilbud
                    kan let komme til at ligge i en fryser eller et køleskab indtil det bliver smidt ud.
                    <br>-Lad være med at handle når du er sulten, du har hørt det mange gange, men det mindsker
                    mængden af mad der bliver lagt i kurven.
                    <br><br>
                    <b>Bliv bedre til at bruge rester i nye retter</b>
                    -Men hold &oslash;je med holdbarheden. Husk at datomærkningen mange gange er vejlederne.
                    - Prøv noget nyt med dine rester, der findes flere kogebøger der kan give inspiration til
                    havordan du bruger dine rester i nye retter.
                    - Fokuser ikke så meget på om du magler en bestemt ingridens for at lave en ret, mange
                    fødevare kan sagtes erstattest af en ligende ingridiens, det kan faktsk være du kommer til
                    at fortrække den nye udgave.
                    <br><br>
                    <b>Opbevar maden ved den rigtige temperatur</b>
                    -Ikke alle fødevare skal i køleskabet, opbevare du dine vare korrekt holder det længere, og
                    smider du mindre mad
                    ud.
                    <br><br>
                    <b>K&oslash;l madrester, der skal gemmes, hurtigt ned</b>
                    -Står du tilbage med en madrest, så sørg for at den hurtigt kommer i køleskabet. Derved
                    undgår du at den bliver trist, og du kan måske ovenikøbet spare noget tid på at lave
                    madpakken i moregn.
                    - Du kan også vælge at fryse dine rester ned, hvis du vælger dette så husk at fryse maden
                    ned i små pakker så du ikke tør mere op end du skal bruge.
                    <br><br>
                    <b>Spis lokale produkter</b>
                    - Er produkterne lokale s&aring; skal de ikke holde sig l&aelig;nge under transport, og
                    færrere fødevare går til under transport.
                    -Hvis du gerne vil mindske miljøpåvirkningen yderligere, så gå også efter det frugt og grønt
                    der
                    er sæson.
                    <br>
                    </p>
                    <p style="font-size: smaller">
                        Råd fra:<a
                            href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-begraenser-du-madspild-i-husholdningen.aspx">https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-begraenser-du-madspild-i-husholdningen.aspx</a>)
                    </p>
                </div>
                <div a id="dybere_forklaring">
                    <p> <h2>De skræmmende tal</h2>
                    <br>
                    <b>Danskerne smider ca. 247.000 ton mad ud om &aring;ret.</b> <br>
                    Til sammenligning
                    er madspildet i detailleddet p&aring; godt 150.000 ton, hvilket is&aelig;r sker indenfor frugt
                    og gr&oslash;nt. <br>
                    Disse produkter bliver ofte sorteret fra alene p&aring; grund af st&oslash;rrelsen,
                    hvilket skyldes eftersp&oslash;rgsel p&aring; bestemte st&oslash;rrelser, fx salathoveder.<br>
                    Vurderinger viser, at danskerne spilder mad for 8,4 milliarder kroner om &aring;ret. <br>
                    Dette tal er uden f&oslash;devarer s&aring;som fisk, sukkervarer og &oslash;vrige ingredienser,
                    hvilket
                    vurderes til at v&aelig;re op mod 1 milliard kroner &aring;rligt, hvoraf halvdelen af spildet
                    sker i danskernes eget hjem.<br>
                    <br>
                    <b>S&aring; meget smider en familie p&aring; 4 ud &aring;rligt.</b>
                    <br>Tal viser,
                    at en familie p&aring; to voksne og to b&oslash;rn smider mad ud for op mod 10.000 kr. om
                    &aring;ret.<br>
                    Dette svarer til, at omkring 20 procent af familiens samlede madindk&oslash;b ikke bliver spist,
                    eller at hver femte indk&oslash;bsvogn ryger direkte i skraldespanden i stedet for p&aring;
                    middagsbordet.<br>
                    </p>
                    <p style="font-size: smaller">
                        Kilde:<a href="https://www.foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx">https://www.foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx</a>
                    </p>
                    <br>

                </div>

            </div>
            <div class="col-md-6 float-right"><img src="images/1.jpg" alt="Her skal der v&aelig;re et billede"></div>


        </div>
    </main>


</div>
<footer th:include="footer :: footer"></footer>
</body>
</html>