<!DOCTYPE html>
<html lang="en">
<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <header th:include="header :: header"></header>

    <main>
        <h2 class="d-flex justify-content-center" style="padding: 2vw">Hvad kan du gøre som virksomhed: </h2>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h2>Først de kedelige tal</h2>

                    -Madspildet i den danske servicesektor udg&oslash;r 227.000-ton pr. &aring;r. <br><br>
                    - Det st&oslash;rste madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons
                    pr. &aring;r, svarende til 72 % af servicesektorens madspild. <br><br>
                    -Af detailhandelens madspild st&aring;r specialforretninger som slagtere, fiskeforretninger og gr&oslash;nthandlere
                    for 12.000 tons pr. &aring;r, mens ikke-specialiserede forretninger som kiosker, k&oslash;bm&aelig;nd,
                    supermarkeder og varehuse st&aring;r for 151.000-ton pr. &aring;r.<br><br>
                    <br>
                </div>
                <div>
                    <h2>Vil du gøre en forskel- gå til eksperterne</h2>
                    <p>Der er mange ting man skal tage hensyn til og tage højde for når man som virksomhed vil hjælpe i
                        kampen mod madspild, men hvis du vil gøre en forskel star vi klar med vejledning.
                        Du kan kontakte os vi mail "her skal der være en mail" så hjælper vi dig videre.<br><br>
                        Du kan også starte med at gå til <b>fødevarestyrelsens</b> guide til virksomheder der vil undgå
                        madspild.
                        Her kan du få specifikke tips ift. Den situation din virksomhed st&aring;r i.
                        Og få svar på de typiske spørgsmål :<br>
                        -hvornår du m&aring; donere fødevarer til velgørende form&aring;l?<br>
                        -Hvornår er det nok at sortere afvigende varer fra?<br>
                        -kan virksomheden bruge varerne som ingrediens i produktionen eller fryse dem ned?<br>
                        <br>
                    </p>
                    <p class="fed"> Sådan kan virksomheden undgå madspild, fx ved donation (<a
                            href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-kan-virksomheden-undgaa-madspild.aspx">https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-kan-virksomheden-undgaa-madspild.aspx</a>):
                    </p></div>

                <h4>Andre samarbejdspartnere vi refererer til hvis du ejer en virksomhed:</h4>
                <a href="https://refoodlabel.dk/#refood">RefoodM&aelig;rket</a><br>
                <a href="https://foedevarebanken.dk/">F&oslash;devarebanken</a>
                <br>

            </div>
            <div class="col-md-6 float-right"><img src="images/1.jpg" alt="Her skal der v&aelig;re et billede"></div>

        </div>
    </main>


</div>
<footer th:include="footer :: footer"></footer>
</body>
</html>