<!DOCTYPE html>
<html lang="en">
<head th:include="head :: headerfragment"></head>
<body>
<div class="container">
    <header th:include="header :: header"></header>

        <main>
            <h2 class="d-flex justify-content-center">Til virksomheder:  </h2>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">Madspildet i den danske servicesektor udg&oslash;r 227.000-ton pr. &aring;r. </li>
                        <li class="list-group-item">Det st&oslash;rste madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. &aring;r, svarende til 72 % af servicesektorens madspild.  </li>
                        <li class="list-group-item">Af detailhandelens madspild st&aring;r specialforretninger som slagtere, fiskeforretninger og gr&oslash;nthandlere for 12.000 tons pr. &aring;r, mens ikke-specialiserede forretninger som kiosker, k&oslash;bm&aelig;nd, supermarkeder og varehuse st&aring;r for 151.000-ton pr. &aring;r.</li>
                    </ul>
                    <br>
                    <p class="fed">S&aring;dan kan virksomheden undg&aring; madspild, fx ved donation (<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-kan-virksomheden-undgaa-madspild.aspx">https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-kan-virksomheden-undgaa-madspild.aspx</a>): </p>
                    <p>Er virksomheden i tvivl om, hvorn&aring;r den m&aring; donere f&oslash;devarer til velg&oslash;rende form&aring;l? Hvorn&aring;r er det nok at sortere afvigende varer fra? Og kan virksomheden bruge varerne som ingrediens i produktionen eller fryse dem ned?
    <br>
                        Virksomheden skal altid sikre sig, at f&oslash;devarerne er i orden, s&aring; de ikke g&oslash;r forbrugerne syge. I mange tilf&aelig;lde m&aring; virksomheden kassere varer. Men der er meget, man kan g&oslash;re for at undg&aring; madspild.
    <br>
                        I forhold til tiltag ift. Reducering af madspild i virksomheder vil vi referere til f&oslash;devarestyrelsens guide som kommer med specifikke tips ift. Den situation din virksomhed st&aring;r i. </p>
    <h3>Mulige samarbejdspartnere vi refererer til hvis du ejer en virksomhed:</h3>
                    <a href="https://toogoodtogo.dk/da/business">TooGoodToGo</a><br>
                    <a href="https://refoodlabel.dk/#refood">RefoodM&aelig;rket</a><br>
                    <a href="https://foedevarebanken.dk/">F&oslash;devarebanken</a>

                </div>
                <div class="col-md-6 float-right"><img src="images/1.jpg" alt="Her skal der v&aelig;re et billede"></div>

            </div>
        </main>


    </div>
    <footer th:include="footer :: footer"></footer>
    </body>
    </html>